// Import Bootstrap SCSS files
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors-rgb: (
  "primary": to-rgb($primary),
  "secondary": to-rgb($secondary),
  "success": to-rgb($success),
  "info": to-rgb($info),
  "warning": to-rgb($warning),
  "danger": to-rgb($danger),
  "light": to-rgb($light),
  "dark": to-rgb($dark),
) !default;
// Define $theme-colors-text
$theme-colors-text: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
$theme-colors-bg-subtle: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
$theme-colors-border-subtle: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-text-dark
$theme-colors-text-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-bg-subtle-dark
$theme-colors-bg-subtle-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-border-subtle-dark
$theme-colors-border-subtle-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);

// Define gutter sizes
$gutters: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 3rem,
);

$utilities-border-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-border-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%),
);

$negative-spacers: (
  "-1": -0.25rem,
  "-2": -0.5rem,
  "-3": -1rem,
  "-4": -1.5rem,
  "-5": -3rem,
);

$utilities-text-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-text-emphasis-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-links-underline: (
  "always": underline,
  "hover": hover-underline,
  "none": none,
);

$utilities-bg-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-bg-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%),
);

// Include remainder of required parts
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Import other Bootstrap components as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
// include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";
// Import other parts of Bootstrap as needed

// Your custom styles
// body
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", sans-serif;
  height: 100%;
  font-size: 0.875rem;
  opacity: 1;
  overflow-y: scroll;
  margin: 0;
}
a {
  cursor: pointer;
  text-decoration: none !important;
}
li {
  list-style: none;
}
i {
  padding-right: 8px;
}
h4 {
  font-size: 1.275rem;
  color: var(--bs-emphasis-color);
}

// body end
// dashboard skeletonian
.wrapper {
  align-items: stretch;
  display: flex;
  width: 100%;
}
#sidebar {
  max-width: 264px;
  min-width: 264px;
  // background: var(--bs-dark);
  background: #c9000c;
  transition: all 0.35s ease-in-out;
}
.dash-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 0;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  width: 100%;
  background-color: var(--bs-light-bg-subtle);
}

.sidebar-logo {
  padding: 1.15rem;
}
.sidebar-logo img {
  height: 50px;
  width: auto;
}
.sidebar-logo a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 600;
}
.sidebar-nav {
  flex-grow: 1;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  margin-left: 0;
}
.sidebar-header {
  color: #fff;
  font-size: 1rem;
  padding: 1.5rem 1.5rem 0.375rem;
}
a.sidebar-link {
  padding: 0.625rem 1.625rem;
  color: #fff;
  position: relative;
  display: block;
  font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
  border: solid;
  border-width: 0 0.075rem 0.075rem 0;
  content: "";
  display: inline-block;
  padding: 2px;
  position: absolute;
  right: 1.5rem;
  top: 1.4rem;
  transform: rotate(-135deg);
  transition: all 0.2s ease-out;
}
.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
  transform: rotate(45deg);
  transition: all 0.2 ease-out;
}
img.avatar {
  height: 40px;
  width: 40px;
}
.navbar-expand .navbar-nav {
  margin-left: auto;
}

.content {
  flex: 1;
  max-width: 100vw;
  width: 100vw;
}

.card {
  box-shadow: 0 0 0.875rem 0 rgba(34, 46, 60, 0.05);
  margin-bottom: 24px;
}
// dashboard skeletonian end
// sidebar toggle
#sidebar.collapsed {
  margin-left: -264px;
}
// sidebar toggle end
// theme toggler
.theme-toggle {
  position: fixed;
  top: 50%;
  transform: translateY(-65%);
  text-align: center;
  z-index: 10;
  right: 0;
  left: auto;
  border: none;
  background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
  cursor: pointer;
  padding: 10px;
  display: block;
  font-size: 1.25rem;
  color: #fff;
}
html[data-bs-theme="dark"] .theme-toggle .fa-moon {
  display: none;
}
html[data-bs-theme="light"] .theme-toggle .fa-sun {
  display: none;
}
// theme toggler end
// tables
.table-responsive {
  width: 100%;
  height: 100%;
}
// tables end
// media queries
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .content {
    max-width: auto;
    width: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (min-width: 1199.98px) {
}
// media queries end
