// Import Bootstrap SCSS files
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors-rgb: (
  "primary": to-rgb($primary),
  "secondary": to-rgb($secondary),
  "success": to-rgb($success),
  "info": to-rgb($info),
  "warning": to-rgb($warning),
  "danger": to-rgb($danger),
  "light": to-rgb($light),
  "dark": to-rgb($dark),
) !default;
// Define $theme-colors-text
$theme-colors-text: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
$theme-colors-bg-subtle: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
$theme-colors-border-subtle: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-text-dark
$theme-colors-text-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-bg-subtle-dark
$theme-colors-bg-subtle-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);
// Define $theme-colors-border-subtle-dark
$theme-colors-border-subtle-dark: (
  "primary": #007bff,
  // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40,
);

// Define gutter sizes
$gutters: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 3rem,
);

$utilities-border-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-border-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%),
);

$negative-spacers: (
  "-1": -0.25rem,
  "-2": -0.5rem,
  "-3": -1rem,
  "-4": -1.5rem,
  "-5": -3rem,
);

$utilities-text-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-text-emphasis-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-links-underline: (
  "always": underline,
  "hover": hover-underline,
  "none": none,
);

$utilities-bg-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

$utilities-bg-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%),
);

// Include remainder of required parts
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Import other Bootstrap components as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
// include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";
// Import other parts of Bootstrap as needed

// Your custom styles
// body
* {
  margin: 0;
  padding: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Arial", sans-serif;
  padding-top: 66px;
  height: 100%;
}
// body end
// navbar
.navbar {
  background-color: #c9000c;
}
.navbar-nav,
.nav-link {
  gap: 5%;
  font-size: 1.05rem !important;
}
.navbar-nav,
a.nav-link {
  color: #f8f9fa;
}
.navbar-brand,
#nav-logo {
  max-height: 50px; /* Adjust based on your navbar height */
  width: auto;
  // margin-right: 5px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0.55rem !important;
}
.navbar {
  padding: 0.5rem 1rem;
}
.navbar-toggler {
  // font-size: 1em !important;
  // padding-inline: 0.6rem !important;
  border-color: beige !important;
}
// navbar end
// body & bg
.body-bg {
  background-image: url("../assets/bg/hero-page-bg.svg");
  height: calc(100vh - 67px);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
}

.upress-text-area {
  background: #990000;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
.upress-text-area p {
  margin: 0;
}

// .id-layout img
// body & bg end
// footer content & background
footer {
  background: linear-gradient(to right, #4f1212, #c9000c);
  margin: 0;
  padding: 45px 0;
}
.single-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-box p#text-content {
  color: #bf0000;
  font-weight: 800;
  margin: 0;
  text-align: center;
}
.single-box p#contact-content {
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}
.single-box h3 {
  color: #fff;
  font-weight: 700;
}
.single-box ul {
  padding: 0;
}
.single-box li {
  text-align: center;
}
.single-box ul li a {
  color: #fff;
  line-height: 1.8;
  font-weight: 700;
  text-decoration: none;
}
// footer end asdad

// nav pills form type
.form-container .nav-box {
  background-color: #570000;
  max-width: fit-content;
  border-radius: 28px;
  color: #fff;
  padding: 0.25rem;
}
.form-container .nav .nav-link {
  color: #fff;
  border-radius: 30px;
  width: 100px;
  text-align: center;
  --bs-nav-link-padding-x: 0;
  --bs-nav-link-padding-y: 0.25em;
}
.form-container .nav .nav-link:hover {
  background-color: #bf0000;
  transition: background-color 0.5s, border-color 0.5s ease-in-out;
}
.form-container .nav .active {
  background-color: #990000 !important;
}

// stepper
a {
  text-decoration: none;
  /* color: inherit; */
}
ul {
  list-style: none;
}
p.lead#upressFR,
p.lead#effectDate {
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 500;
}
.form-box {
  display: flex;
  flex-direction: column;
}

.form-box .form-progress {
  position: relative;
  padding: 0 0.5em;
  min-width: 250px;
}
.form-progress ul.progress-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2em;
  position: sticky;
  top: 170px;
  z-index: 99;
}

.form-progress ul.progress-steps li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 2em;
}
.form-progress ul.progress-steps li p {
  margin: 0;
}
.form-progress ul.progress-steps li > span {
  position: relative;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  border-radius: 50%;
  background-color: $gray-300;
  z-index: 1;
}
.form-progress ul.progress-steps li.active > span {
  color: #fff;
  background-color: #c9000c;
  z-index: 1;
}
.form-progress ul.progress-steps li p span {
  font-size: 14px;
  color: $gray-600;
  display: none;
}

.form-progress ul li p {
  position: absolute;
  top: -2em;
  font-size: 12px;
}

// form
.form-box form {
  width: 100%;
  padding-inline: 0.2em;
  background-color: #fff;
}

form > div {
  max-width: 450px;
  margin: 0 auto;
}
form > div p {
  color: $gray-700;
  margin-bottom: 0.8em;
}
form > div > div:not(.checkbox) {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}
input[type="radio"] {
  font-size: 18px;
}
form :where(input:not(.form-check-input), select) {
  height: 40px;
  padding: 0 1em;
  border-radius: 7px;
  border: 1px solid $gray-300;
  outline-color: $gray-600;
  background-color: transparent;
}
form label {
  font-size: 15px;
  margin-bottom: 0.4em;
  font-weight: 600;
}
form .grouping {
  display: flex;
}
form .grouping input {
  max-width: 70px;
  text-align: center;
  margin-right: 1em;
}
form .checkbox input {
  height: auto;
}
// next form
form > div:not(.group-btn) {
  display: none;
  // -webkit-animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  // animation: fadeIn .6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
form > div.active {
  display: block;
}

// buttons
.group-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-block: 2em;
}
.group-btn [class*="btn-"] {
  background-color: #c9000c;
  color: #fff;
  padding: 0.6em 1.5em;
  border: 4px solid #bf0000;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s, border-color 0.3s ease-out;
  transition: background-color 0.3s, border-color 0.3s ease-out;
}
.group-btn [class*="btn-"]:disabled {
  background-color: $gray-500;
  border-color: $gray-300;
  cursor: not-allowed;
}
.group-btn [class*="btn-"]:hover:not(:disabled) {
  background-color: #990000;
  border-color: #c9000c;
}
::placeholder {
  color: $gray-500;
}
// stepper end

// media queries
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem !important;
  }
  #nav-logo {
    max-height: 48px; /* Further reduce logo size for smaller screens */
  }
  .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-body .navbar-nav {
    padding: 0;
  }
  .navbar-toggler {
    font-size: 1.15em !important;
    padding-inline: 0.6rem !important;
  }
  .body-bg .body-content {
    padding-left: 0.8rem !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .navbar-brand {
    font-size: 1.15rem !important;
  }
  .form-progress ul.progress-steps {
    // flex-direction: column;
    padding-top: 1em;
    padding-left: 0;
    gap: 2em;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .navbar-brand {
    font-size: 1.2rem !important;
  }
  .form-box {
    flex-direction: row;
  }
  // form progress
  .form-progress ul.progress-steps {
    flex-direction: column;
    gap: 0;
  }
  .form-progress ul.progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 19px;
    top: 30px;
    width: 2px;
    height: 65px;
    background-color: #dee2e6;
  }
  // form
  .form-box form {
    padding-inline: 1em;
  }
  .form-progress ul li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }
  .form-progress ul.progress-steps li p span {
    display: block;
  }
}

@media (min-width: 993px) {
  .navbar-brand {
    font-size: 1.22rem !important;
  }
  .form-box {
    flex-direction: row;
  }
  // form progress
  .form-progress ul.progress-steps {
    flex-direction: column;
    gap: 0;
  }
  .form-progress ul.progress-steps li:not(:last-child)::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 30px;
    width: 2px;
    height: 65px;
    background-color: $gray-300;
  }
  // form
  .form-box form {
    width: 100%;
    padding-inline: 1em;
    background-color: #fff;
  }

  .form-progress ul li p {
    position: relative;
    top: auto;
    font-size: inherit;
  }
  .form-progress ul.progress-steps li p span {
    display: block;
  }
}
// media end
