// Import Bootstrap SCSS files
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

$theme-colors-rgb: (
  "primary": to-rgb($primary),
  "secondary": to-rgb($secondary),
  "success": to-rgb($success),
  "info": to-rgb($info),
  "warning": to-rgb($warning),
  "danger": to-rgb($danger),
  "light": to-rgb($light),
  "dark": to-rgb($dark)
) !default;
// Define $theme-colors-text
$theme-colors-text: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
$theme-colors-bg-subtle: (
  "primary": #007bff, // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
$theme-colors-border-subtle: (
  "primary": #007bff,
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
// Define $theme-colors-text-dark
$theme-colors-text-dark: (
  "primary": #007bff, // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
// Define $theme-colors-bg-subtle-dark
$theme-colors-bg-subtle-dark: (
  "primary": #007bff, // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);
// Define $theme-colors-border-subtle-dark
$theme-colors-border-subtle-dark: (
  "primary": #007bff, // Example color values
  "secondary": #6c757d,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "dark": #343a40
);

// Define gutter sizes
$gutters: (
  "0": 0,
  "1": 0.25rem,
  "2": 0.5rem,
  "3": 1rem,
  "4": 1.5rem,
  "5": 3rem
);

$utilities-border-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$utilities-border-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%)
);

$negative-spacers: (
  "-1": -0.25rem,
  "-2": -0.5rem,
  "-3": -1rem,
  "-4": -1.5rem,
  "-5": -3rem
);

$utilities-text-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$utilities-text-emphasis-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$utilities-links-underline: (
  "always": underline,
  "hover": hover-underline,
  "none": none
);

$utilities-bg-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark
);

$utilities-bg-subtle: (
  "primary": lighten($primary, 10%),
  "secondary": lighten($secondary, 10%),
  "success": lighten($success, 10%),
  "info": lighten($info, 10%),
  "warning": lighten($warning, 10%),
  "danger": lighten($danger, 10%),
  "light": lighten($light, 10%),
  "dark": lighten($dark, 10%)
);

// Include remainder of required parts
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// Import other Bootstrap components as needed
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/helpers";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";
// include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../node_modules/bootstrap/scss/utilities/api";
// Import other parts of Bootstrap as needed

// Your custom styles
// body
body {
  font-family: 'Arial', sans-serif;
  padding-top: 66px;
}
// body end
// navbar
.navbar {
  background-color: #c9000c;
}
.navbar-nav, .nav-link {
  gap: 5%;
  font-size: 1.05rem !important;
}
.navbar-nav, a.nav-link {
  color: #f8f9fa;
} 
.navbar-brand, #nav-logo {
  max-height: 50px; /* Adjust based on your navbar height */
  width: auto;
  // margin-right: 5px;
}
.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: 0.55rem !important;
}
.navbar {
  padding: 0.5rem 1rem;
}
.navbar-toggler {
  // font-size: 1em !important;
  // padding-inline: 0.6rem !important;
  border-color: beige !important;
} 
// navbar end
// body & bg
.body-bg{
  background-image: url("../assets/bg/hero-page-bg.svg");
  height: calc(100vh - 67px);  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: center;
}

.upress-text-area{
  background: #990000;
  color: #fff;
  font-size: 21px;
  font-weight: 400;
}
.upress-text-area p{
  margin: 0;
}

// .id-layout img
// body & bg end
// footer content & background
footer {
  background: linear-gradient(to right, #4F1212,#c9000c);
  margin: 0;
  padding: 45px 0;
}
.single-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-box p#text-content {
  color: #BF0000;
  font-weight: 800;
  margin: 0;
  text-align: center;
}
.single-box p#contact-content{
  color: #fff;
  line-height: 1.5;
  font-weight: 500;
}
.single-box h3{
  color: #fff;
  font-weight: 700;
}
.single-box ul{
  padding: 0;
}
.single-box li {
  text-align: center;
}
.single-box ul li a{
  color: #fff;
  line-height: 1.8;
  font-weight: 700;
  text-decoration: none;
}
// footer end 

// media queries
@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1rem !important;
  }
  #nav-logo {
    max-height: 48px; /* Further reduce logo size for smaller screens */
  }
  .offcanvas-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .offcanvas-body .navbar-nav {
    padding: 0;
  }
  .navbar-toggler {
    font-size: 1.15em !important;
    padding-inline: 0.6rem !important;
  }
  .body-bg .body-content {
    padding-left: .8rem !important;
  }
}
@media (min-width: 577px) and (max-width: 768px){
  .navbar-brand {
    font-size: 1.15rem !important;
  }
}
@media (min-width: 769px) and (max-width: 992px){
  .navbar-brand {
    font-size: 1.2rem !important;
  }
}
@media (min-width: 993px) {
  // footer {
    
  // }

}


// end